.container{
  width: 100%;
  height: 100%;
  display: flex;
} 

.slider{
  width: 80%;
  height: 100%;

}

.hero-slider {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-slider .slider-img {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0.8;
}

.hero-slider .slider-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-contand {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
}

.img-contand .contend {
  width: 50%;
  height: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.img-contand .contend p {
  color: #fff !important;
  font-size: 1.1rem;
  line-height: 1.3;
  margin-top: 1rem;
}

span{
  display: block;
  margin: 1rem 0;
  color: #fff !important;
}
.btn-group button {
  padding: 1rem 2rem;
  border-radius: 5px;
  margin-right: 1rem;
  border: var(--secondary-color);
  margin-bottom: 1rem;
}

.btn-group #wishlist {
  background: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.add {
  margin-right: 5px;
}

.img-contand img {
  width: 240px;
}

.container .slider-list {
  width: 30%;
  height: 100%;
  padding: 0 1.5rem;

}

 .slider-list .list-card {
  width: 100%;
  height: 82px;
  display: flex;
  padding: 0.8rem;
  gap: 1rem;
  margin-bottom: 3px;
  border-radius: 10px;
  align-items: center;
  transition: all 300ms ease;
}
 .slider-list .list-card:hover,.list-card.hovered  {
  color: var(--secondary-color);
  background-color: var(--hover-color);
}

 .slider-list .list-card img {
  width: 30%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;  
}
  

