.Experiences{
    margin: 3rem 0;
}
.Experiences #z{
    border: 1px solid red;
    margin-bottom: -2rem;
    font-size: 1.2rem;
    
}

.deals-of-week{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.deals-of-week .card{
    width: 31.5%;
    
    
}
.deals-of-week .card .card-img{
    width: 100%;   
    position: relative; 
}
.deals-of-week .card .card-img .card_plus_icon {
    
    position: absolute;
    z-index: 5;
    top: 5%;
    right: 5%;
    color: var(--secondary-color);    
    border-radius: 50px;
    padding: 0.1rem;
    
    
}

.deals-of-week .card .card-img .card_plus_icon:hover{
    display: none;
}



.deals-of-week .card .card-img img{
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
}

.deals-of-week .card a p{
    
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.deals-of-week .card .experience_content{
    display: flex;
    
}


.deals-of-week .card .experience_content p{
    margin-right: 0.6rem;
}

.deals-of-week .card .experience_content .discount-div{
    background-color: var(--link-color);
    color: var(--secondary-color);
    padding: 0.5em 0.60rem;
    border-radius: 5px;
    font-size: 0.6rem;
    align-self: center;
}

.deals-of-week .card .experience_content .ex-content{
    font-size: 0.85rem;
    color: #f5f5f599;
    line-height: 1.5;
}

.deals-of-week .card .experience_content .discount-amt{
    font-size: 1.3rem;
    color: var(--secondary-color);
    text-decoration: underline;
    text-decoration-color: #202020;
    text-decoration-thickness: 1px;
    
}

.deals-of-week .card .prices .browse_underline:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;    
}